<div class="card" style="width:21rem;margin-top:10px;">
  <img class="card-img-top img-thumbnail" [src]="element.imgPath" alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title text-truncate">Name: {{ element.name }}</h5>
    <p class="card-text">Price: {{ element.price | currency:'INR':'symbol-narrow' }}</p>
    <p class="card-text text-truncate"><small class="text-muted">Desc: {{ element.description }}</small></p>
    <button [ngClass]=
    "{'btn-success':cartObj.inCart(element.id),'btn-outline-success': !cartObj.inCart(element.id)}"
    class="btn btn-md  w-100" 
    (click)="addToCart(this.element)" >
    {{ (cartObj.inCart(element.id))?'Added':'Add 2 Cart'}}
  </button>
  </div>
</div>
